* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.game_container {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.gamesquare {
  box-shadow: -1px 10px 50px 1px red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamesquare-y {
  box-shadow: -1px 10px 50px 1px yellow;
}
.gamesquare-b {
  box-shadow: -1px 10px 50px 1px blue;
}
.gamesquare-g {
  box-shadow: -1px 10px 50px 1px #07f93d;
}
.colordot {
  position: absolute;
  top: 5px;
  width: 70px;
  height: 70px;
  background-color: grey;
  border-radius: 50%;
  animation: bar 7s ease;
}.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.scoresection {
  font-size: larger;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-around;
}

.btnsection {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.playpause {
  width: 30px;
  height: 30px;
  background: url("../assets/icons/pause.svg");
  background-color: white;
  cursor: pointer;
}

.playsound {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.darkmode {
  width: 30px;
  height: 30px;
  background: url("../assets/icons/darkmode.svg");
  background-color: white;
  cursor: pointer;
}